<div class="mt-5 pt-5 pb-5 footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-xs-12 about-company">
          <h2>NEST DIGITAL</h2>
          <p class="pr-5 text-white-50">NeST Digital, a subsidiary of the NeST Group, has been transforming businesses, providing customized and innovative software solutions and services for our customers across the globe.</p>
          <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
        </div>
        <div class="col-lg-3 col-xs-12 links">
          <h4 class="mt-lg-0 mt-sm-3">Links</h4>
            <ul class="m-0 p-0">
              <li>+91-484-4203333</li>
              <li><a href="connect.nestdigital@nestgroup.net">connect.nestdigital.net</a></li>
            </ul>
        </div>
        <div class="col-lg-4 col-xs-12 location">
          <h4 class="mt-lg-0 mt-sm-4">Location</h4>
          <p>NeST Towers, University junction,Kalamassery, Kochi, Kerala,India – 682 033</p>
          <p class="mb-0"><i class="fa fa-phone mr-3"></i>Ph: +91-4846701000</p>
          <p><i class="fa fa-envelope-o mr-3"></i>info.com</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col copyright">
          <p class=""><small class="text-white-50">© 2019. All Rights Reserved.</small></p>
        </div>
      </div>
    </div>
    </div>
